doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
  link(rel='stylesheet' href='family.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title FiO My Work
header#header Welcome to Frame it out
nav.navigation
  #menu-bar
    #menu
      #bar1.bar
      #bar2.bar
      #bar3.bar
  ul.ulist
    li.item
      a(href='fio.html')  Home
    li.item.dropdown
      a(href='mywork.html')  My work 
      a(href='#')
        svg.icon(width='30' height='16' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512' onclick='dropdown() ')
          path(d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z')
      // Start of Dropdown
      ul.dropdown-nav
        li
          a(href='maternity.html') Maternity
        li
          a(href='newborn.html') Newborn
        li
          a(href='infant.html') Infant
        li
          a(href='sitter.html') Sitter
        li
          a(href='cakesmash.html') Cakesmash
        li
          a(href='outdoor.html') Outdoor
        li
          a(href='toddler.html') Toddler
        li.current
          a(href='family.html') Family
    li.item
      a(href='contact.html')  Contact
    li.item
      a(href='blog.html')  Blog
    li.item
      a(href='reviews.html')  Reviews
    li.item
      a(href='about.html')  About
    ul.social-container
      a.fa.fa-facebook(href='https://www.facebook.com/Frameitout123/' target='_blank')
      a.fa.fa-instagram(href='https://www.instagram.com/frameitout/' target='_blank')
section.written-material-1
  .written(data-aos='fade-up')
    p.heading
      | Family Session
  .written(data-aos='fade-up')
    p.under-heading
      | We provide this session as a complimentary add-on with every package. Family sessions also include the Grandparents of the baby. You can also choose to get a family session done separately.
section.sep-under-heading
  div
    p.written2
      | Baby photographer in Delhi, Faridabad, Gurgaon, Noida, Ghaziabad &amp; Around Delhi NCR.
.portfolio-grid-container
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A0143.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A0449.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A1057.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A1103.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A1276.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A1305.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A1448.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A1498.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A1686.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A2140.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A2176.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A2207.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A2289.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A3634.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A4217.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A4247.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A4297.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A4307.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A5200.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A5273.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A5278.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A6338.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A6579.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A6651.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A6743.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A6844.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A7655.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A8414.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A8462.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A8590.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A8718.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A8850.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A8883.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A8974.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A9002.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A9155.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A9300.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A9318.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A9322.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A9339.JPG.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/family/0J8A9502.jpg' alt='' loading='lazy')
nav.navigation-bottom
  ul.ulist-bottom
    li.item-bottom
      a(href='toddler.html')  &larr; Toddler 
    li.item-bottom
      a(href='mywork.html')  &olarr; Back to My Work 
footer
  .btn-container
    a(href='mywork.html')
      button.btn(type='button')  View Portfolio
    a(href='contact.html')
      button.btn(type='button')  Get in touch
  div
    p#headingfooter.footermaterial
      | Frame It Out Photography By Parul Agarwal
  div
    p#contactfooter.footermaterial2
      | Contact : +91-9873672580
    p.footermaterial2
      | Email : info@frameitoutphotography.com
script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init({
  duration: 1500
  });
  //   document.querySelectorAll(".maternity-images")
  //       .forEach((img) =>
  //           img.addEventListener('load', ()=>
  //               AOS.refresh()
  //           )
  //       );
  //Dropdown open and close with the help of css and javascript. Toggling different classes of CSS with a click. .dropdown-done opens up the menu while .dropdown-close closes it.
  let myworkicon = document.getElementsByTagName('svg');
  let mywork = document.getElementsByClassName("dropdown")
  function dropdown(){
  // let mywork = document.getElementsByClassName("dropdown")
  mywork[0].classList.add("dropdown-done")
  mywork[0].classList.remove("dropdown-close")
  }
  document.addEventListener('click', function(event) {
  var isClickInside = mywork[0].contains(event.target);
  if (!isClickInside) {
  //the click was outside the specifiedElement, do something
  // alert("clicked outside!")
  mywork[0].classList.add("dropdown-close")
  mywork[0].classList.remove("dropdown-done")
  }
  });
  const onClickMenu = () => {
  const menu = document.getElementById('menu');
  const ulist = document.querySelector('.ulist');
  menu.addEventListener('click', () =>{
  ulist.classList.toggle('ulist-active');
  //animating the burger lines
  menu.classList.toggle('change');
  });
  }
  onClickMenu()
