doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
  link(rel='stylesheet' href='infant.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title FiO My Work
header#header Welcome to Frame it out
nav.navigation
  #menu-bar
    #menu
      #bar1.bar
      #bar2.bar
      #bar3.bar
  ul.ulist
    li.item
      a(href='fio.html')  Home
    li.item.dropdown
      a(href='mywork.html')  My work 
      a(href='#')
        svg.icon(width='30' height='16' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512' onclick='dropdown() ')
          path(d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z')
      // Start of Dropdown
      ul.dropdown-nav
        li
          a(href='maternity.html') Maternity
        li
          a(href='newborn.html') Newborn
        li.current
          a(href='infant.html') Infant
        li
          a(href='sitter.html') Sitter
        li
          a(href='cakesmash.html') Cakesmash
        li
          a(href='outdoor.html') Outdoor
        li
          a(href='toddler.html') Toddler
        li
          a(href='family.html') Family
    li.item
      a(href='contact.html')  Contact
    li.item
      a(href='blog.html')  Blog
    li.item
      a(href='reviews.html')  Reviews
    li.item
      a(href='about.html')  About
    ul.social-container
      a.fa.fa-facebook(href='https://www.facebook.com/Frameitout123/' target='_blank')
      a.fa.fa-instagram(href='https://www.instagram.com/frameitout/' target='_blank')
section.written-material-1
  .written(data-aos='fade-up')
    p.heading
      | Infant Photography Session
  .written(data-aos='fade-up')
    p.under-heading
      | These sessions are done when the baby is between 3- 6 months old. This session is either done if the Newborn Session is missed or If you wish to capture your baby at his/her 3 month and 6 month Milestone.
section.sep-under-heading
  div
    p.written2
      | Baby photographer in Delhi, Faridabad, Gurgaon, Noida, Ghaziabad &amp; Around Delhi NCR.
.maternity-portfolio(data-aos='fade-up')
  p.maternity-portfolio-material
    | Infant Portfolio
.portfolio-grid-container
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A0566-1.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A0723.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A0767.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A0925.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A1120.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A1785.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A1822.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A3528.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A3585.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A4258.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A4298.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A4620.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A4836.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5113.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5141.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5495.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5518-2.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5573.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5662.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5722.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5796.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A5843.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A6371.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A6455.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A6483.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A6547.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A6598.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A7161.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A7261.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A7353.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8211.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8378.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8459.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8587.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8669.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A86693.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8701.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8735.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8758.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8776.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8851.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8869.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8963.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A8991.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A9050.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A9107.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A9115.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/0J8A9579.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/infant/IMG_8647.jpg' alt='' loading='lazy')
nav.navigation-bottom
  ul.ulist-bottom
    li.item-bottom
      a(href='newborn.html')  &larr; Newborn 
    li.item-bottom
      a(href='sitter.html')  Sitter Baby &rarr;
footer
  .btn-container
    a(href='mywork.html')
      button.btn(type='button')  View Portfolio
    a(href='contact.html')
      button.btn(type='button')  Get in touch
  div
    p#headingfooter.footermaterial
      | Frame It Out Photography By Parul Agarwal
  div
    p#contactfooter.footermaterial2
      | Contact : +91-9873672580
    p.footermaterial2
      | Email : info@frameitoutphotography.com
script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init({
  duration: 1500
  });
  //Dropdown open and close with the help of css and javascript. Toggling different classes of CSS with a click. .dropdown-done opens up the menu while .dropdown-close closes it.
  let myworkicon = document.getElementsByTagName('svg');
  let mywork = document.getElementsByClassName("dropdown")
  function dropdown(){
  // let mywork = document.getElementsByClassName("dropdown")
  mywork[0].classList.add("dropdown-done")
  mywork[0].classList.remove("dropdown-close")
  }
  document.addEventListener('click', function(event) {
  var isClickInside = mywork[0].contains(event.target);
  if (!isClickInside) {
  //the click was outside the specifiedElement, do something
  // alert("clicked outside!")
  mywork[0].classList.add("dropdown-close")
  mywork[0].classList.remove("dropdown-done")
  }
  });
  //   document.querySelectorAll(".maternity-images")
  //       .forEach((img) =>
  //           img.addEventListener('load', ()=>
  //               AOS.refresh()
  //           )
  //       );
  const onClickMenu = () => {
  const menu = document.getElementById('menu');
  const ulist = document.querySelector('.ulist');
  menu.addEventListener('click', () =>{
  ulist.classList.toggle('ulist-active');
  //animating the burger lines
  menu.classList.toggle('change');
  });
  }
  onClickMenu()
