doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
  link(rel='stylesheet' href='sitter.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title FiO My Work
header#header Welcome to Frame it out
nav.navigation
  #menu-bar
    #menu
      #bar1.bar
      #bar2.bar
      #bar3.bar
  ul.ulist
    li.item
      a(href='fio.html')  Home
    li.item.dropdown
      a(href='mywork.html')  My work 
      a(href='#')
        svg.icon(width='30' height='16' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512' onclick='dropdown() ')
          path(d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z')
      // Start of Dropdown
      ul.dropdown-nav
        li
          a(href='maternity.html') Maternity
        li
          a(href='newborn.html') Newborn
        li
          a(href='infant.html') Infant
        li.current
          a(href='sitter.html') Sitter
        li
          a(href='cakesmash.html') Cakesmash
        li
          a(href='outdoor.html') Outdoor
        li
          a(href='toddler.html') Toddler
        li
          a(href='family.html') Family
    li.item
      a(href='contact.html')  Contact
    li.item
      a(href='blog.html')  Blog
    li.item
      a(href='reviews.html')  Reviews
    li.item
      a(href='about.html')  About
    ul.social-container
      a.fa.fa-facebook(href='https://www.facebook.com/Frameitout123/' target='_blank')
      a.fa.fa-instagram(href='https://www.instagram.com/frameitout/' target='_blank')
section.written-material-1
  .written(data-aos='fade-up')
    p.heading
      | Sitter Photography Session
  .written(data-aos='fade-up')
    p.under-heading
      | These Sessions are done when the baby starts sitting. This is usually done for the babies who are more than 6 / 7 months old. This session helps us to capture your little one with different unique setups.
section.sep-under-heading
  div
    p.written2
      | Baby photographer in Delhi, Faridabad, Gurgaon, Noida, Ghaziabad &amp; Around Delhi NCR.
.maternity-portfolio(data-aos='fade-up')
  p.maternity-portfolio-material
    | Sitter Portfolio
.portfolio-grid-container
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A0315.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A0689.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A0764.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A0854.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A1848.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2079.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2095.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2133.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2161.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2174.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2382.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2433.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2449-2.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2582.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2691.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A2961.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3030.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3180.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3314.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3382.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3426.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3619.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3623.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3808.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3883.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A3916.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4099.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4146.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4299.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4465.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4476.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4524.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4566.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4618.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A4970.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A50172.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A50192.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A51512.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A52912.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A53392.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A54392.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A55012.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A56072.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A56342.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A56382.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A59822.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A61082.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A61162.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A62672.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A63422.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A63482.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A63522.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A63742.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A64552.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A64642.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A64652.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A64742.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A65632.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A67372.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A68012.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A70232.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A74492.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A75932.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A76112.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A76272.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A76542.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A77822.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A78432.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A78602.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A79362.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A79942.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A79952.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A81442.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A85052.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A87532.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A87562.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A87612.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A88462.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A90592.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A90782.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A92762.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A93982.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A94302.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A94582.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A95012.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A95202.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A96012.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A96252.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A97422.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A98902.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/0J8A99412.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/IMG_07692.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/IMG_16792.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/IMG_19692.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/IMG_36142.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/IMG_68072.jpg' alt='' loading='lazy')
  .portfolio-grid-item(data-aos='fade-up')
    img(src='/sitter/IMG_70112.jpg' alt='' loading='lazy')
nav.navigation-bottom
  ul.ulist-bottom
    li.item-bottom
      a(href='infant.html')  &larr; Infant 
    li.item-bottom
      a(href='cakesmash.html')  Cakesmash &rarr;
footer
  .btn-container
    a(href='mywork.html')
      button.btn(type='button')  View Portfolio
    a(href='contact.html')
      button.btn(type='button')  Get in touch
  div
    p#headingfooter.footermaterial
      | Frame It Out Photography By Parul Agarwal
  div
    p#contactfooter.footermaterial2
      | Contact : +91-9873672580
    p.footermaterial2
      | Email : info@frameitoutphotography.com
script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init({
  duration: 1500
  });
  //   document.querySelectorAll(".maternity-images")
  //       .forEach((img) =>
  //           img.addEventListener('load', ()=>
  //               AOS.refresh()
  //           )
  //       );
  //Dropdown open and close with the help of css and javascript. Toggling different classes of CSS with a click. .dropdown-done opens up the menu while .dropdown-close closes it.
  let myworkicon = document.getElementsByTagName('svg');
  let mywork = document.getElementsByClassName("dropdown")
  function dropdown(){
  // let mywork = document.getElementsByClassName("dropdown")
  mywork[0].classList.add("dropdown-done")
  mywork[0].classList.remove("dropdown-close")
  }
  document.addEventListener('click', function(event) {
  var isClickInside = mywork[0].contains(event.target);
  if (!isClickInside) {
  //the click was outside the specifiedElement, do something
  // alert("clicked outside!")
  mywork[0].classList.add("dropdown-close")
  mywork[0].classList.remove("dropdown-done")
  }
  });
  const onClickMenu = () => {
  const menu = document.getElementById('menu');
  const ulist = document.querySelector('.ulist');
  menu.addEventListener('click', () =>{
  ulist.classList.toggle('ulist-active');
  //animating the burger lines
  menu.classList.toggle('change');
  });
  }
  onClickMenu()
